
html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    
    color:  #000000;
    font-family: "Inter", sans-serif;
    font-weight: bolder;
    font-size: 2em;
    

}


#maincontent{


margin-top: 10%;



}

.columns {float:left;}
.col-1 {width: 33%;}
.col-2 {width: 25%;}


p{
    
    font-family: "Inter", sans-serif;
    line-height: 130%;
    font-size: 1em;
    
}

.header{

    margin: auto;

    width: auto;
    
    padding: auto;
    

}


a:link{

color: #000000;

}

.wrapper{

width: 80%;
margin: auto;


}

body {

    background-image: url("../images/backtexture.jpg");
    
    background-repeat: repeat;
   
    z-index: -10;
    

}


a:hover{

    color: #ff0000;

    
}
img.burger{

    width: 30%;
    height: 30%;
    transition: transform .2s;
}

img:hover{

    transform: scale(1.2);

}

#foot{

    text-decoration: underline;

}



footer{

text-align: center;

text-transform: uppercase;

background-color: #ffbf00;

position: fixed;

left: 0;

bottom: 0;

width: 100%;


}

ul#MainNav{

    list-style-type: none;

}

.MainNav{

    margin: 80%;

    width: 80%;
    
    padding: 80%;

}